.cardHover:hover {
  background-color: #1cc7ca;
  color: white;
  background-image: url("../../../images/qoute.png");
  background-repeat: no-repeat;
  background-size: 10em;
  background-position: right top;
}
